@media all and (width <= 783px) {
    .header {
        padding: 24px;
    }

    .header-container {
        flex-direction: column;
    }

    .header-container .logo {
        width: 215px;
        margin-bottom: 24px;
    }

    .links {
        gap: 24px;
    }

    .link {
        font-size: 20px;
        font-weight: 700;
    }

    .main-wrapper {
        max-width: 343px;
        margin: 0 auto;
    }

    main h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
    }

    .main-container {
        grid-template-columns: 1fr;
    }

    .sneaker {
        width: 100%;
    }

    .sneaker h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .sneaker p {
        font-size: 14px;
        font-weight: 400;
    }

    .footer-container {
        max-width: 343px;
    }

    .footer-container .info {
        flex-direction: column;
    }

    .footer-container .logo {
        width: 300px;
        margin-bottom: 32px;
    }
}

@media screen and (width > 783px) and (width <= 1080px) {
    .header {
        padding: 24px;
    }

    .header-container {
        padding-left: 24px;
        padding-right: 24px;

    }

    .links {
        gap: 24px;
    }

    .link {
        font-size: 20px;
        font-weight: 700;
    }

    .main-wrapper {
        max-width: 343px;
        margin: 0 auto;
    }

    main h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 100%;
    }

    .main-container {
        justify-content: center;
        /*grid-template-columns: 1fr;*/
        grid-template-columns: 70% 70% 70%;
        /* Будет создано 3 ряда */
        grid-template-rows: 70% 70%;

        width: 100%;
    }

    .sneaker {
        width: 100%;
    }

    .sneaker h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .sneaker p {
        font-size: 14px;
        font-weight: 400;
    }

    .footer-container {
        padding-left: 24px;
        padding-right: 24px;
    }

}