/* All Elements */

@font-face {
  font-family: "Anonymous Pro";
  src: url(/static/fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(/static/fonts/AnonymousPro-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.width__container {
  max-width: 1160px;
  margin: auto;
}

body {
  background: #f1f1f1;
  color: #121723;
}

h1 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 56px;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 48px;
}

h3 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
}

p {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 14px;
}

.subtitle {
  color: #121723;
  margin: 32px auto;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .width__container {
    max-width: 764px;
  }
  .sneaker__details img {
    max-width: 700px; 
  }

}

@media screen and (max-width: 800px) {
  .width__container {
    max-width: 343px;
  }

  .header__main {
    padding: 24px 0;
  }

  .footer_logo img {
    width: 300px;
  }

  .footer__nav_link a, .header__nav_link a {
    font-size: 20px;
  }

  .sneaker__card {
    max-width: 343px;
  }

  .header__content, .footer__content {
      flex-direction: column;
      gap: 24px;
  }

  .subtitle {
    font-size: 32px;
  }

  .width__container__details {
    padding: 24px;
    max-width: 295px;
  }

  .sneaker__details {
    border-radius: 12px;
  }

  .sneaker__details img {
      max-width: 295px; 
  }

  .sneaker__detail__title {
      font-size: 32px;
  }
  
  .sneaker__detail__text {
      font-size: 20px;
  }

  .sneaker__detail_container {
      flex-direction: column;
  }

  .sneaker__detail_about-header {
    margin-top: 0;
  }

  .sneaker__detail_about, .sneaker__detail_description {
      max-width: 295px;
  }

  .sneaker__detail_about p, .sneaker__detail_description p {
      font-size: 16px;
  }

}